.signup {
    padding-top: 130px;
    padding-bottom: 150px;
    background-color: #b7b7b7;
}

.signup .login__form:after {
    height: 450px;
}

.signup .login__form h5 {
    font-size: 15px;
    color: #ffffff;
    margin-top: 36px;
}

.signup .login__form h5 a {
    color: #e53637;
    font-weight: 700;
}

.signup .login__social__links {
    text-align: left;
    padding-left: 0;
}

.signup .login__social__links h3 {
    color: #ffffff;
    font-weight: 700;
    /* font-family: "Oswald", sans-serif; */
    margin-bottom: 30px;
}

.signup .login__social__links ul li a {
    margin: 0;
    text-align: center;
}

.login__social__links ul li {
    list-style: none;
    margin-bottom: 15px;
}

.login__social__links ul li a.facebook {
    background: #4267b2;
}

.login__social__links ul li a.google {
    background: #ff4343;
}

.login__social__links ul li a.twitter {
    background: #1da1f2;
}
.login__social__links ul li a i {
    font-size: 20px;
    position: absolute;
    left: 32px;
    top: 14px;
}
.login__social__links ul li a {
    color: #ffffff!important;
    display: block;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    max-width: 460px;
    padding: 14px 0;
    position: relative;
    margin: 0 auto;
}

.login__form {
    padding-left: 0;
    margin-bottom: 40px;
}

.login__form:after {
    position: absolute;
    right: -14px;
    top: -40px;
    height: 330px;
    width: 1px;
    background: rgba(255, 255, 255, 0.2);
    content: "";
}

.login__form h3 {
    color: #ffffff;
    font-weight: 700;
    /* font-family: "Oswald", sans-serif; */
    margin-bottom: 30px;
}

.login__form form .input__item {
    position: relative;
    min-width: 300px;
    margin-bottom: 20px;
}

.login__form form .input__item:before {
    position: absolute;
    left: 50px;
    top: 10px;
    height: 30px;
    width: 1px;
    background: #b7b7b7;
    content: "";
}

.login__form form .input__item input {
    height: 50px;
    width: 100%;
    font-size: 15px;
    color: #b7b7b7;
    background: #ffffff;
    border: none;
    padding-left: 76px;
}

.login__form form .input__item input[type="date"],input[type="password"] {
   
    padding-right: 20px;
}



.login__form form .input__item input::-webkit-input-placeholder {
    color: #b7b7b7;
}

.login__form form .input__item input::-moz-placeholder {
    color: #b7b7b7;
}

.login__form form .input__item input:-ms-input-placeholder {
    color: #b7b7b7;
}

.login__form form .input__item input::-ms-input-placeholder {
    color: #b7b7b7;
}

.login__form form .input__item input::placeholder {
    color: #b7b7b7;
}

.login__form form .input__item span {
    color: #b7b7b7;
    font-size: 20px;
    position: absolute;
    left: 15px;
    top: 11px;
}

.login__form form button {
    border-radius: 0;
    margin-top: 10px;
}

.login__form .forget_pass {
    font-size: 15px;
    color: #ffffff;
    display: inline-block;
    position: absolute;
    right: 60px;
    bottom: 12px;
}

.site-btn {
    color: #fff !important;
    background-color: #111111;
    border: 0 none;
    border-radius: 0;
    font-size: 14px;
    font-weight: bold;
    padding: 0.8rem 2rem;
    text-transform: none;
    transition: all .2s ease-in-out;
    display: inline-block;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
}

.site-btn:hover {
    color: #fff !important;
    background-color: #025aa5;
    border-color: #015
}

@media only screen and (min-width: 900px) {
    .login__form {
        padding-left: 100px;
        position: relative;
    }

    .signup .login__social__links {
        padding-left: 40px;
    }
}